*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.d-flex{
    display: flex;
    justify-content: center;
}
#maincontainer{
    background-color: rgb(34, 108, 34);
    height: 100vh;
}

#midcontainer{
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

#header{
    width: 70vw;
    background-color: white;
    flex-direction: row;
    
}

#user-profile{
    width: 40%;
    justify-content: left;
    border-right-style: groove;
    padding: 10px;
}

#chat-pic{
    display: flex;
    width: 50px;
    height: 50px;
    justify-self: left;
    border-radius: 50%;
}
#user-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#current-user-chat{
    padding: 10px;
    width: 75%;
}

.mainbody{
    flex-direction: row;
}

.contact-list{
    width: 35%;
    height: 87vh
}

#chat{
    background-image: url(../img/mine.jpg);    
    width: 65%;
    height: 87vh
}

.notification-box{
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    background-color: rgb(57, 149, 235);
    padding: 5px;
    align-items: center;
    
}

.notification-box i{
    font-size: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    color:rgb(57, 149, 235);
    
}

.notification-box h2{
    font-weight: 300;
    font-size: 16px;
}

.underline{
    text-decoration: underline ;
    color: grey;
}
.researchtab{
    width: 100%;
    height: 30px;
}
#ricerca{
    width: 75%;
    padding: 5px;
}

#search-button{
    width: 25%;
    padding: 5px;
}

#contacts{
    width: 100%;
    height: calc(100% - 120px);
    background-color: white
}

.contatto{
    padding: 5px;
    padding-top: 10px;
    justify-content: left;
    border-bottom: solid 1px;
}
.contatto-text{
    margin-left: 10px;
}


.messaggio-uscita{
    padding: 20px;
    background-color: greenyellow;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 5px;

}


.messaggio-entrata{
    padding: 20px;
    background-color: white;
    display: inline;
    border-radius: 20px;
    width: fit-content;
    justify-self: left;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 5px;
}

.chatbox{
    flex-direction: column;
    height: calc(96% - 45px);
    justify-content: space-between;
}

#message-box{
    height: calc(10% - 45px);
    background-color: white;
    padding: 20px;
    vertical-align: bottom;
    justify-self: flex-end;
}

