*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-family: sans-serif;
    font-weight: 200;
}
.d-flex{
    display: flex;
    justify-content: center;
}
#maincontainer{
    background-color: rgb(34, 108, 34);
    height: 100vh;
}

#midcontainer{
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

#header{
    width: 70vw;
    background-color: whitesmoke;
    flex-direction: row;
    
}


#username{
    align-self: center;
}
#user-profile{
    width: 40%;
    border-right-style: groove;
    padding: 10px;
    align-self: center;
    justify-content: space-between;
}

#chat-pic{
    display: flex;
    width: 50px;
    height: 50px;
    justify-self: left;
    border-radius: 50%;
    align-self: center;
}
#user-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#current-user-chat{
    padding: 10px;
    width: 75%;
}

.mainbody{
    flex-direction: row;
}

.contact-list{
    width: 35%;
    height: 87vh
}

#chat{
    position: relative;
    background-image: url(../img/mine.jpg);    
    width: 65%;
    height: 87vh
}

.notification-box{
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    background-color: rgb(57, 149, 235);
    padding: 5px;
    align-items: center;
    
}

.notification-box i{
    font-size: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    color:rgb(57, 149, 235);
    
}

h3{
    font-weight: 200;
}
 h2{
    font-weight: 100;
 }


 .data-accesso{
    align-self: flex-start;
 }

.notification-box h2{
    font-weight: 200;
    font-size: 16px;
}

.underline{
    text-decoration: underline ;
    color: grey;
}
.researchtab{
    width: 100%;
    height: 30px;
    padding: 5px;
}
#ricerca{
    width: 85%;
    padding: 5px;
    border-style: none;
}

#search-button{
    width: 15%;
    padding: 5px;
    border-style: none;
    background-color: rgb(250, 249, 249);
}
.src {
    background-color: whitesmoke;
}
#contacts{
    width: 100%;
    height: calc(100% - 130px);
    background-color: white
}

.contatto{
    padding: 20px;
    justify-content: left;
    border-bottom: solid 1px;
}
.contatto-text{
    margin-left: 10px;
    width: 80%;
}


.sent{
    max-width: 60%;
    position: relative;
    padding: 20px;
    background-color: greenyellow;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 5px;

}


.received{
    position: relative;
    padding: 20px;
    background-color: white;
    display: inline;
    border-radius: 20px;
    width: fit-content;
    justify-self: left;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 5px;
}
.chatbox i{
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    font-size: 15px;
}

i.fa-solid.fa-chevron-down{
    font-size: 6px;
}

.tendina:hover .txttendina{
    display: block;
    
}

.txttendina{
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    font-size: 14px;
    display: none;
    width: 140px;
    height: 80px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}

.txttendina li{
    padding: 10px 0px;

}


.chatbox{
    flex-direction: column;
    height: calc(96% - 45px);
    justify-content: flex-start;
}

#message-box{
    display: flex;
    height: calc(10% - 45px);
    background-color: white;
    padding: 20px;
    vertical-align: bottom;
    justify-content: space-between ;

}

.icons{
    font-size: 24px;
    color: grey;
    padding: 5px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.icons i{

    margin-left: 10px;
}

#message-box{
    background-color: whitesmoke;
}

#message-box i{
    align-self: center;
    width: 10%;
    text-align: center;
}

#message-box input{
    height: 30px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    align-self: center;
    width: 80%;
}

.chatbox i{
    font-size: 5px;
}